[Unit]
Description=Ngrok 8080 http service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/app/run_ngrok.sh

[Install]
WantedBy=multi-user.target
